* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
}
header {
    background-color: #0E0E0E;
    padding: 10px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: aliceblue;
}

nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}